body {
    background: linear-gradient( to right, rgb(2, 30, 66), rgb(255, 255, 255), rgb(200, 16, 46) );
    text-align: center;
    
}

.options>*{
    background-color: rgb(255, 255, 255);
    height: 30px;
    width: 500px;
    border-radius: 15px;
    border:solid;
    border-color: #ffffff;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
    font-family: "Gill Sans", sans-serif;
    color: #2c5364;
}

.question {
    color: #2c5364;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    letter-spacing: 0.5px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    font-family: "Gill Sans", sans-serif;
  }

.button-container>* { 
    background-color: #2c5364;
    height: 25px;
    width: 75px;
    border-radius: 15px;
    border-style: none;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
    font-family: "Gill Sans", sans-serif;
    color: #ffffff;
}

